html
{
	scroll-behavior: smooth;
}
body
{
    text-align: center;
	background: url("https://telegra.ph/file/08418eb79ff69f9f1c44b.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	font-family: helvetica;
}
.dark-mode
{
	text-align: center;
    background: url("https://telegra.ph/file/d764100c583f2788858bc.jpg");
    background-size: cover;
    background-position: center;
	color: white;
	font-family: helvetica;
}
.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img
{
    border-radius: 50%;
}
p
{
    font-size: 22px;
}
a
{
	background-color: #06499f;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}
