html{box-sizing:border-box;scroll-behavior: smooth;}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
a{text-decoration: none; color: white;}
body,h1
{
	font-family: "Raleway", sans-serif
}
body, html
{
	height: 100%
}
.bgimg
{
  background-image: url("https://telegra.ph/file/08418eb79ff69f9f1c44b.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.w3-display-container{position:relative}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-text-white{color:#fff!important}
.w3-display-topleft{position:absolute;left:0;top:0}
.w3-padding-large{padding:12px 24px!important}
.w3-xlarge{font-size:24px!important}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-jumbo{font-size:64px!important}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-border-grey{border-color:#9e9e9e!important}
.w3-large{font-size:18px!important}
.w3-center{text-align:center!important;display:inline-block;width:auto;}
.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}
