html,body {
    scroll-behavior: smooth;
}

body,h1 {
    font-family: "Montserrat", sans-serif;
    background-color: #000000;
}

nav {
    display:none;
    padding-top:150px
}

img {
    margin-bottom: -7px;
}

.w3-row-padding img {
    margin-bottom: 12px;
}

a {
    text-decoration:none;
}

footer {
    margin-top:128px;
}