@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&subset=latin");

html, body {
    scroll-behavior: smooth;
}

body, h1 {
    font-family: "Libre Franklin";
    background-color: #000000;
}

h1 {
    color: #ffffff;
}

nav {
    display:none;
    padding-top:150px
}

img {
    margin-bottom: -7px;
    width: 100%;
}

.w3-row-padding img {
    margin-bottom: 12px;
}

a {
    text-decoration:none;
}

footer {
    margin-top:128px;
}