@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&subset=latin");

body {
    font-family: "Libre Franklin";
    background-color: var(--black);
    color: var(--white);
    overflow-x: hidden;
}

h1 {
    font-size: 30px;
    padding-top: 85px;
    text-align: center;
}

p {
    font-size: 17px;
    text-align: center;
}

p a {
    color: var(--yellow-signal);
    text-decoration: none;
}

a {
	color: var(--white);
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: var(--yellow-signal);
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 128px;
}

.photo-column {
    flex: 1;
    padding: 0;
    padding: 8px;
}

.photo-column img {
    margin-top: 0;
    vertical-align: middle;
}

img {
    margin-bottom: 8px;
    width: 100%;
}

footer {
    margin-top: 128px;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: var(--white);
    transition: transform 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.social-icon:hover {
    transform: scale(1.1);
    color: var(--yellow-signal);
}

@media (max-width: 768px) {
    .photo-grid {
        flex-direction: column;
    }

    .photo-column {
        flex: 100%;
    }

    img {
        cursor: pointer;
    }
}