body {
	margin: 0;
	padding: 0;
	background-color: var(--white);
	color: var(--black-100);
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	text-align: center;
}

a {
	color: var(--grey-100);
	text-decoration: underline;
}

a:hover {
	color: var(--black-100);
}