html, body {
	scroll-behavior: smooth;
}

.navbar {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: transparent;
	z-index: 9999;
	padding: 10px 0;
}

.navbar-links {
	margin: 0;
	color: var(--white);
	margin-top: 20px;
	text-align: center;
}

.navbar-links a {
	color: var(--white);
	text-decoration: none;
	transition: color 0.3s ease;
	font-size: 22px;
}

.navbar-links a:hover {
	color: var(--yellow-signal);
}