@font-face {
	font-family: soehne-buch;
	src: url('./font/soehne-buch.woff2'), url('./font/soehne-buch.woff2') format('woff');
}

@font-face {
	font-family: SharpGroteskMedium25Regular;
	src: url(./font/SharpGroteskMedium25Regular.woff2), url(./font/SharpGroteskMedium25Regular.woff2) format('woff');
}

:root {
	--gutter: 16px;
	--pageMarginTotal: 16px;
	--pageMargin: calc(var(--pageMarginTotal) -(var(--gutter) / 2));
	--easingOut: cubic-bezier(0.16, 1, 0.3, 1);
	--easing: cubic-bezier(0.87, 0, 0.13, 1);
	--headerHeight: 60px;

	/* Colors */
	--green-100: #3a423a;
	--green-20: #edefea;

	--grey-100: #565656;
	--grey-80: #767676;
	--grey-60: #959595;
	--grey-40: #b8b8b8;
	--grey-20: #eceae9;

	--white: #ffffff;
	--black: #000000;
	--brown: #3b3735;
	--dark: #1c1c1c;

	/* Black colors */
	--black-100: #000000;
	--black-90: #1e1e1e;
	--black-70: #4a4a4a;
	--black-40: #919191;
	--black-20: #dddee2;

	/* Signal colors */
	--yellow-signal: #f4bf35;
	--green-signal: #09b76e;
	--red-signal: #f44336;
	--blue-signal: #00ccff;
	--purple-signal: #6E62F4;
	--live-green: #00ff77;
	--live-yellow: #ffdd00;

	/* Navbar colors*/
	--navbar-bg: #8E8E8E;
	--navbar-active: #dedfe366;

	/* Typography */
	--soehne-buch: 'soehne-buch', sans-serif;
	--sharpgrotesk: 'SharpGroteskMedium25Regular', sans-serif;
	--h1: 60px;
	--h2: 42px;
	--b1: 28px;
}

.dark-theme {
	--black-100: #ffffff;
	--black: #ffffff;
	--white: #000000;
}

/* General Styles */
html, body {
	scroll-behavior: smooth;
	font-family: open-sans, sans-serif;
}

/* Navbar Styles */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--white);
	padding: 10px 20px;
	z-index: 1000;
	border: none;
}

.navbar-nav {
	display: flex;
	list-style: none;
	margin-top: 50px;
	margin-left: 100px;
	padding: 0;
	gap: 20px;
}

.nav-item {
	margin-right: 20px;
}

.nav-link {
	text-decoration: none;
	color: var(--grey-80);
	font-size: 25px;
	font-weight: 500;
	transition: color 0.3s ease;
}

.nav-link:hover {
	color: var(--black-100);
}

.nav-link.active {
	color: var(--black-100);
}

.navbar-end {
	display: none;
	align-items: center;
	gap: 10px;
	margin: 50px 30px auto auto;
}

.status-icon {
	width: 10px;
	height: 10px;
	background-color: var(--live-green);
	border-radius: 50%;
	animation: flash 1.2s infinite;
}

@keyframes flash {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.location {
	font-size: 16px;
	color: var(--grey-80);
}

.current-time {
	font-size: 16px;
	color: var(--grey-80);
	font-family: monospace;
}

::selection {
	background-color: var(--green-signal);
	color: var(--white);
}

@media screen and (min-width: 1024px) {
	.navbar-end {
		display: flex;
	}
}

@media screen and (max-width: 768px) {
	.navbar {
		padding: 10px;
		padding-top: 20px;
	}

	.navbar-nav {
		margin: 0;
	}

	.nav-item {
		margin-right: 10px;
	}

	.nav-link {
		font-size: 20px;
	}
}