@font-face {
	font-family: soehne-buch;
	src: url('./font/soehne-buch.woff2'), url('./font/soehne-buch.woff2') format('woff');
}

@font-face {
	font-family: SharpGroteskMedium25Regular;
	src: url(./font/SharpGroteskMedium25Regular.woff2), url(./font/SharpGroteskMedium25Regular.woff2) format('woff');
}

@font-face {
	font-family: manrope-regular;
	src: url(./font/Manrope-Regular.woff2), url(./font/Manrope-Regular.woff2) format('woff');
}

:root {
	--gutter: 16px;
	--pageMarginTotal: 16px;
	--pageMargin: calc(var(--pageMarginTotal) -(var(--gutter) / 2));
	--easingOut: cubic-bezier(0.16, 1, 0.3, 1);
	--easing: cubic-bezier(0.87, 0, 0.13, 1);
	--headerHeight: 60px;

	/* Colors */
	--green-100: #3a423a;
	--green-20: #edefea;

	--grey-100: #565656;
	--grey-80: #767676;
	--grey-60: #959595;
	--grey-40: #b8b8b8;
	--grey-20: #eceae9;

	--white: #ffffff;
	--black: #000000;
	--brown: #3b3735;
	--dark: #1c1c1c;

	/* Black colors */
	--black-100: #000000;
	--black-90: #1e1e1e;
	--black-70: #4a4a4a;
	--black-40: #919191;
	--black-20: #dddee2;

	/* Signal colors */
	--yellow-signal: #f4bf35;
	--green-signal: #09b76e;
	--red-signal: #f44336;
	--blue-signal: #00ccff;
	--purple-signal: #6E62F4;
	--live-green: #00ff77;
	--live-yellow: #ffdd00;

	/* Navbar colors*/
	--navbar-bg: #8E8E8E;
	--navbar-active: #dedfe366;

	/* Typography */
	--soehne-buch: 'soehne-buch', sans-serif;
	--sharpgrotesk: 'SharpGroteskMedium25Regular', sans-serif;
	--manrope: 'manrope-regular', sans-serif;
	--h1: 60px;
	--h2: 42px;
	--b1: 28px;
}

.dark-theme {
	--black-100: #ffffff;
	--black: #ffffff;
	--white: #000000;
}

/* General Styles */
html, body {
	scroll-behavior: smooth;
	font-family: var(--manrope);
}

::selection {
	background-color: var(--green-signal);
	color: var(--white);
}

.highlighter {
	color: var(--green-signal) !important;
}

.highlighter:hover {
	text-decoration: underline !important;
}

/* Navbar Styles */
/* General Navbar Styles */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--white);
	padding: 10px 20px;
	z-index: 1000;
	border: none;
}

/* Navbar Links */
.navbar-nav {
	display: flex;
	list-style: none;
	padding: 0;
	gap: 20px;
}

.nav-link {
	text-decoration: none;
	color: var(--grey-80);
	font-size: 25px;
	font-weight: 500;
	transition: color 0.3s ease;
}

.nav-link:hover {
	color: var(--black-100);
}

.nav-link.active {
	color: var(--black-100);
}

/* Left Navbar */
.left-nav {
	margin-top: 50px;
	margin-left: 100px;
}

/* Right Navbar (Desktop) */
.right-nav {
	margin-top: 50px;
	margin-right: 100px;
	justify-content: flex-end;
}

.desktop {
	display: flex;
}

/* Mobile Menu Styles */
.menu-icon {
	display: none;
	align-items: center;
	cursor: pointer;
	gap: 10px;
	z-index: 1001;
}

.menu-text {
	font-size: 18px;
	color: var(--grey-80);
	font-weight: 500;
}

.hamburger {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.hamburger span {
	width: 25px;
	height: 2px;
	background-color: var(--black-100);
	transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Mobile Menu */
.mobile-menu {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background: transparent;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
	padding: 20px;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.mobile-menu.open {
	display: block;
	opacity: 1;
}

.mobile-menu .navbar-nav {
	flex-direction: column;
	align-items: flex-end;
	gap: 15px;
	margin: 0;
	padding: 0;
}

.mobile-menu .navbar-nav .nav-item:first-child {
	margin-top: 30px;
}

/* Mobile Menu Open State */
.menu-icon.open .menu-text {
	color: var(--black-100);
}

.menu-icon.open .hamburger span:nth-child(1) {
	transform: rotate(45deg) translateY(5px);
}

.menu-icon.open .hamburger span:nth-child(2) {
	transform: rotate(-45deg) translateY(-5px);
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
	/* Hide Desktop Right Navbar */
	.desktop {
		display: none;
	}

	/* Show Mobile Menu Icon */
	.menu-icon {
		display: flex;
	}

	/* Adjust Left Navbar for Mobile */
	.left-nav {
		margin: 0;
	}
}
