@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&subset=latin");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 10vmin/.8 "Libre Franklin";
}

html, body {
  overflow: hidden;
  background-color: var(--black);
  height: 100%;
}

.containerr {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 20px;
}

h1 {
  color: var(--white);
  font-size: 200px;
  font-weight: bold;
  margin: 500px 20px 0 50px;
}

p {
  color: var(--white);
  font-size: 25px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 730px;
}

@media (max-width: 768px) {
  .containerr {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
  }
  
  h1 {
    font-size: 70px;
    margin: 350px 0 15px 0;
  }

  p {
    font-size: 18px;
    margin: 0;
  }
}
