body {
	margin: 0;
	padding: 0;
	background-color: var(--white);
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	position: absolute;
	top: 50%;
	left: 120px;
	transform: translateY(-30%);
	padding-right: 20%;
	font-size: 60px;
	color: var(--black-100);
	line-height: 1.1;
}

.navbar-end {
	display: none;
	align-items: center;
	gap: 10px;
	margin: 50px 30px auto auto;
}

.status-icon {
	width: 10px;
	height: 10px;
	background-color: var(--live-green);
	border-radius: 50%;
	animation: flash 1.2s infinite;
}

@keyframes flash {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.location {
	font-size: 16px;
	color: var(--grey-80);
}

.current-time {
	font-size: 16px;
	color: var(--grey-80);
	font-family: monospace;
}

@media screen and (min-width: 1024px) {
	.navbar-end {
		display: flex;
	}
}

@media screen and (max-width: 768px) {
	.content {
		left: 20px;
		padding-right: 20px;
		font-size: 35px;
		line-height: 1.2;
	}
}