body {
	background-color: var(--bg-color);
	margin: 0;
	padding: 0;
}

/* Page Content */
.work-section {
	text-align: center;
	padding: 2rem 2rem;
}

.work-title {
	font-size: 200px;
	text-align: left;
	font-weight: bold;
	margin-bottom: 2rem;
	color: var(--text-color);
}

.work-list {
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid var(--sec-text);
	border-bottom: 1px solid var(--sec-text);
}

.work-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	border-bottom: 1px solid var(--sec-text);
	text-decoration: none;
	color: inherit;
	transition: background-color 0.3s ease;
}

.work-item:hover {
	background-color: var(--highlighter);
	cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath d='M10.8101 1.96222L0.726954 12.0453L1.66171 12.9801L11.7448 2.89698L11.9344 9.4447L13.208 9.07311L13.0134 2.35278C12.9877 1.46249 12.2434 0.718185 11.3531 0.692412L4.80762 0.502924L4.43487 1.77539L10.8101 1.96222Z' fill='white' stroke='white' stroke-width='0.542084'%3E%3C/path%3E%3C/svg%3E"), auto;
}

.work-item:last-child {
	border-bottom: none;
}

.work-item-title {
	flex: 2;
	text-align: left;
	padding-left: 10px;
	font-weight: bold;
	color: var(--text-color);
}

.work-item-desc {
	flex: 4;
	text-align: left;
	color: var(--sec-text);
	padding-left: 1rem;
}

.work-item-year {
	flex: 1;
	text-align: right;
	color: var(--text-color);
	padding-right: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
	.work-section {
		padding: 1.5rem 1rem;
	}

	.work-title {
		padding-top: 20px;
		font-size: 48px;
		text-align: left;
		margin-bottom: 1.5rem;
	}

	.work-list {
		border-top: 1px solid var(--sec-text);
	}

	.work-item {
		flex-direction: column;
		align-items: flex-start;
		padding: 1rem 0;
		border-bottom: 1px solid var(--sec-text);
	}

	.work-item:hover {
		background-color: inherit;
		cursor: default;
	}

	.work-item-title {
		font-size: 16px;
	}

	.work-item-desc {
		font-size: 14px;
		padding-left: 10px;
		margin-top: 0.5rem;
	}

	.work-item-year {
		font-size: 14px;
		text-align: left;
		margin-top: 0.5rem;
		padding-left: 10px;
	}

	.work-item:last-child {
		border-bottom: none;
	}
}
