* {
	margin: 0;
	padding: 0;
}

body {
	align-items: center;
	justify-content: center;
	background: var(--white);
}

.name {
	color: var(--black-100);
	font-size: 32px;
	margin: 250px 0 0 300px;
}

.credits {
	color: var(--black-100);
	font-size: 32px;
	margin: 60px 0 0 20px;
	display: inline-block;
}

.credit-link {
	display: inline-block;
	margin-left: 383px;
	line-height: 1.5;
}

a {
	color: var(--grey-100);
}

a:hover {
	color: var(--black-100);
}

.vertical-button {
	padding: 0px;
	text-align: center;
	margin: 0px;
	width: 160px;
	height: 40px;
	background: var(--black-100);
	z-index: 15;
	border-radius: 5px 5px 0px 0px;
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transform-origin: bottom right;
	position: fixed;
	right: 0px;
	top: 40%;
	transform: translateY(-50%) rotate(-90deg);
}

.vertical-button p {
	display: inline-block;
	line-height: 40px;
	font-size: 26px;
}

.vertical-button a {
	text-decoration: none;
	color: var(--white);
}

@media screen and (max-width: 768px) {
	.name {
		margin: 180px 0 0 60px;
	}

	.credits {
		margin: 20px 20px 0 60px;
		text-align: justify;
	}

	.credit-link {
		display: block;
		margin: 10px 0 0 0;
		padding-right: 20px;
	}

	.vertical-button {
		width: 120px;
		height: 30px;
	}

	.vertical-button p {
		font-size: 22px;
	}
}